{% extends 'father.html' %} {% load static %} {% block content %}
    <div class="row">
        <span id="error_xml"></span>
        <div class="col-sm-8">
            <div style="margin: 0px;padding: 0px; font-size: 14px;font-family: 'verdana, geneva, arial, helvetica, sans-serif';">
                <h2 style="text-align: center;">{{ wikidetail.0.wikititle }}</h2>
                <div style="margin-top: 2px;margin-bottom: 20px;color: #707070;text-align: center;">
                    创建人：<span>{{ wikidetail.0.user }}</span>&nbsp; 更新人：{{ wikidetail.0.update_user }}
                    &nbsp;<span>{{ wikidetail.0.update_time }}</span><span
                        style="color: #008CFF;">&nbsp;&nbsp;tag:</span>
                    {% for item in taglist %}
                        <span>{{ item }}</span>
                    {% endfor %}
                </div>
                <div style="box-sizing: border-box;margin: 0;padding: 15px 20px 20px;line-height: 1.7;outline: none;word-wrap: break-word;">
                    {{ format_md|safe }}
                </div>
            </div>

        </div>
    </div>


{% endblock %} {% block js %}
    <script>

        //table hover
        $(function () {
            function showBox(obj, box) {
                var timer = null;
                $(obj).on("mouseover", function (e) {
                    clearTimeout(timer);
                    var clientX = e.clientX;
                    var clientY = e.clientY;
                    var y = clientY + 20;
                    var txt = $(this).text();
                    timer = setTimeout(function () {
                        $(box).css("left", clientX).css("top", y);
                        if (txt == "") {
                            $(box).hide();
                        } else {
                            $(box).show();
                            $(box).html(txt);
                        }
                    }, 300);
                });
                $(obj).on("mouseout", function () {
                    clearTimeout(timer);
                    $(box).hide();
                });
            }

            showBox("#reqData > tbody td", "#showDiv");
        });
    </script>
{% endblock %}