{% extends 'main.html' %} {% load static %} {% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <span id="error_xml" style="color:red;font-size:15px;"></span>
                    <form class="form-horizontal" method="post" id="markdown_form">
                        {% csrf_token %}
                        <div class="form-group">
                            {#                            <input name="title" id="title" type="text" class="form-control" placeholder="标题"/>#}
                        </div>
                        <div class="form-group">
                            {{ form.media }}
                            {{ form.as_ul }}
                            {#                            <input name="wikitag" id="wikitag" type="text" class="form-control"#}
                            {#                                   placeholder="Tag1--Tag2--Tag3"/></div>#}

                            <!--<textarea name="summary" id="summary" class="form-control" style="resize: none;" rows="1" placeholder="摘要"></textarea>
                            <hr />-->
                            {#                        <textarea name="content" class="form-control" data-provide="markdown" rows="18"#}
                            {#                                  id="editor"></textarea>#}

{#                            <label class="btn btn-default" id="add_blog" type="">发布</label>#}
                            <button type="submit" value="Submit">发布</button>
{#                            <label class="btn btn-default" id="save_draft">保存草稿</label>#}
{#                            <label>图片链接前缀http://frontqa.web.sjs.ted:8080/wiki/upload/{{ user_id }}/{img_name}<a#}
{#                                    href="/wiki_img"#}
{#                                    style="cursor: pointer;">#}
{#                                &nbsp;&nbsp;上传图片</a></label>#}
                    </form>

                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="form-group">
                {% for tag in taglist %}
                    <span class="label label-info taglist"
                          style="font-size: 15px;cursor: pointer;line-height: 40px;">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>

    </div>


{% endblock %} {% block js %}
    {#    <script src="{% static "js/markdown.js" %}"></script>#}
    {#    <script src="{% static "js/to-markdown.js" %}"></script>#}
    {#    <script src="{% static "js/bootstrap-markdown.js" %}"></script>#}
    {#    <script src="{% static "js/bootstrap-markdown.zh.js" %}"></script>#}
    <script>
        {#        (function ($) {#}
        {#            $.fn.markdown.messages.zh = {#}
        {#                'Bold': "粗体",#}
        {#                'Italic': "斜体",#}
        {#                'Heading': "标题",#}
        {#                'URL/Link': "链接",#}
        {#                'Image': "图片",#}
        {#                'List': "列表",#}
        {#                'Unordered List': "无序列表",#}
        {#                'Ordered List': "有序列表",#}
        {#                'Code': "代码",#}
        {#                'Quote': "引用",#}
        {#                'Preview': "预览",#}
        {#                'strong text': "粗体",#}
        {#                'emphasized text': "强调",#}
        {#                'heading text': "标题",#}
        {#                'enter link description here': "输入链接说明",#}
        {#                'Insert Hyperlink': "URL地址",#}
        {#                'enter image description here': "输入图片说明",#}
        {#                'Insert Image Hyperlink': "图片URL地址",#}
        {#                'enter image title here': "在这里输入图片标题",#}
        {#                'list text here': "这里是列表文本",#}
        {#                'code text here': "这里输入代码",#}
        {#                'quote here': "这里输入引用文本"#}
        {#            };#}
        {#        }(jQuery));#}
        {##}
        {#        $("#editor").markdown({#}
        {#            autofocus: true,#}
        {#            language: 'zh',#}
        {#        });#}

        $(".taglist").click(function () {
            var tagtext = $(this).text();
            var pre_tag = $('#wikitag').val();
            var new_tag = "";
            if (pre_tag == "") {
                new_tag = tagtext;
            } else {
                new_tag = pre_tag + "--" + tagtext;
            }
            $('#wikitag').val(new_tag);
        })

        //save a draft
        $('#save_draft').click(function () {
            var title = $('#title').val()
//      var summary = $('#summary').val()
            {#            var content = $('#editor').val()#}
            var wikitag = $('#wikitag').val()
            $.ajax({
                type: "POST",
                url: "/wiki/save_blog",
                async: true,
                traditional: true,
                data: {
                    'title': title,
//              'summary':summary,
                    {#                    'content': content,#}
                    'wikitag': wikitag,
                    'flag': 'draft',
                },
                dataType: 'JSON',
                success: function (obj) {
                    if (obj.status) {
                        location.reload();
                    } else {
                        $('#error_xml').text(obj.error);
                    }
                },
                error: function () {

                },
            });
        })
        //add a wiki
        $('#add_blog').click(function () {
            var title = $('#title').val()
//      var summary = $('#summary').val()
            {#            var content = $('#editor').val()#}
            var wikitag = $('#wikitag').val()
            if (title != "" && wikitag != "") {
                $.ajax({
                    type: "POST",
                    url: "/wiki/adds",
                    async: true,
                    traditional: true,
                    data: $('#markdown_form').serialize(),
                    {#                    data: {#}
                    {#                        'title': title,#}
                    {#//              'summary':summary,#}
                    {#                        'content': content,#}
                    {#                        'wikitag': wikitag,#}
                    {#                        'flag': 'add',#}
                    {#                    },#}
                    dataType: 'JSON',
                    success: function (obj) {
                        if (obj.status) {
                            window.location.href = '/wiki/wiki';
                        } else {
                            $('#error_xml').text(obj.error);
                        }
                    },
                    error: function () {

                    },
                });
            } else {
                $('#error_xml').text("标题，摘要，内容，标签都为必填")
            }

        })
    </script>
{% endblock %}