{% extends 'main.html' %} {% load wk_tag_tools %} {% load static %} {% block content %}
<ol class="breadcrumb">
	<li>{{businame}}</li>
	<li>{{app_name}}</li>
	<li class="active">{{topic}}</li>
	<li style="color: red;"><span id="error_xml"></span></li>
</ol>
<div class="row">
	<div class="col-sm-12">
		<form class="form-horizontal" action="" method="post" id="form_img" enctype="multipart/form-data">
			<div class="form-group">
				<label for="jobData" class="control-label" style="float:left;padding-left:15px;">上传图片</label>
				<div class="col-sm-10">
    				<div class="file-container" style="display:inline-block;position:relative;overflow: hidden;vertical-align:middle">
        				<label class="btn btn-default fileinput-button" style="cursor: pointer;">Browse...</label>
        				<input type="file" id="browse_img" accept="image/gif, image/jpeg, image/png, image/jpg" style="position:absolute;top:0;left:0;font-size:34px; opacity:0">
    				</div>
    				<span id="filename" style="vertical-align: middle">未上传文件</span>  				
				</div>				
			</div>
			<div class="form-group">
				<div class="col-sm-10">
				<label class="btn btn-default" id="upload_img">Upload</label>
				</div>
			</div>
		</form>
		<div class="row">
			{% for item in img_lst%}
		    <div class="col-sm-6 col-md-1">
		         <div class="thumbnail">
		            <img src="http://frontqa.web.sjs.ted:8080/wiki/upload/{{user_id}}/{{item}}" 
		             alt="{{item}}" title="{% formatImgName item %}" img_name="{{item}}">
		             <div class="caption">
		                <p>
		                	<label class="btn btn-primary btn-xs del_img" >删除</label>	
		                </p>
            		</div>
		         </div>
		         
		    </div>
		    {% endfor %}		    
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
	</div>
</div>

{% endblock %} {% block js %}
<script src="{% static "js/markdown.js" %}"></script>
<script src="{% static "js/to-markdown.js" %}"></script>
<script src="{% static "js/bootstrap-markdown.js" %}"></script>
<script src="{% static "js/bootstrap-markdown.zh.js" %}"></script>
<script>
	(function ($) { $.fn.markdown.messages.zh = { 'Bold': "粗体", 'Italic': "斜体", 'Heading': "标题", 'URL/Link': "链接", 'Image': "图片", 'List': "列表", 'Unordered List': "无序列表", 'Ordered List': "有序列表", 'Code': "代码", 'Quote': "引用", 'Preview': "预览", 'strong text': "粗体", 'emphasized text': "强调", 'heading text': "标题", 'enter link description here': "输入链接说明", 'Insert Hyperlink': "URL地址", 'enter image description here': "输入图片说明", 'Insert Image Hyperlink': "图片URL地址", 'enter image title here': "在这里输入图片标题", 'list text here': "这里是列表文本", 'code text here': "这里输入代码", 'quote here': "这里输入引用文本" }; }(jQuery));

	$("#editor").markdown({
		autofocus: true,
		language: 'zh',
	});
	//del
	$('.del_img').click(function() {
		var img_name = $(this).parent().parent().prev().attr('img_name');
		if(confirm('确定删除吗？')){
			$.ajax({
			type: "POST",
			url: "del_img",
			async: true,
			data: {
				'img_name': img_name
			},
			dataType: 'JSON',
			success: function(obj) {
				if(obj.status) {
					location.reload();
				} else {
					$('#error_xml').text(obj.error);
				}
			},
			error: function() {

			}
		});
	}
	})	
	$("#upload_img").click(function(){
		var upload_file = $("#browse_img")[0].files[0];
		var filedata = new FormData();
		$('#error_xml').text("");
		if(upload_file){
			filedata.append('file',upload_file)
			$.ajax({
				type:"post",
				url:"/upload_img",
				data:filedata,
				cache:false,
				processData: false,  
	            contentType: false,
				dataType: 'JSON',
				success: function(obj) {
					if(obj.status) {
						alert('上传成功')
						location.reload();
						
					} else {
						$('#error_xml').text(obj.error);
					}
				},
				error: function() {
	
				},
			});
			
		}else{
			$('#error_xml').text("请选择文件");
			return;
		}
		
		
	})
	$("#browse_img").change(function(){
		var fileinput = $("#browse_img").val();
		
		$("#error_xml").text("");
		if(!fileinput){
			$("#error_xml").text("图片不存在");
			return;
		}
		var fl = $("#browse_img")[0].files[0];
		var size = fl.size;
		if( fl.type !== 'image/jpeg' && fl.type !== 'image/png' && fl.type !== 'image/gif'){
			$("#error_xml").text("非图片类型");
			return;
		}
		if(size>1*1024*1024){
			$("#error_xml").text("图片不可以大于1M");
			return;
		}
		$("#filename").html(fl.name);
	})
	
	$(".taglist").click(function(){
		var tagtext = $(this).text();
		var pre_tag = $('#wikitag').val();
		var new_tag="";
		if(pre_tag==""){
			new_tag=tagtext;
		}else{
			new_tag = pre_tag+"--"+tagtext;
		}
		$('#wikitag').val(new_tag);
	})
	
    //save a draft
    $('#save_draft').click(function(){
        var title = $('#title').val()
        var summary = $('#summary').val()
        var content = $('#editor').val()
        var wikitag = $('#wikitag').val()        
		$.ajax({
			type: "POST",
			url: "/save_blog",
			async: true,
			traditional: true,
			data: {
                'title':title,
                'summary':summary,
                'content':content,
                'wikitag':wikitag,
                'flag':'draft',
            },
			dataType: 'JSON',
			success: function(obj) {
				if(obj.status) {
					location.reload();
				} else {
					$('#error_xml').text(obj.error);
				}
			},
			error: function() {

			},
		});
	})
    //add a wiki
	$('#add_blog').click(function(){
        var title = $('#title').val()
        var summary = $('#summary').val()
        var content = $('#editor').val()
        var wikitag = $('#wikitag').val()
        if (title != "" && summary != "" && content != "" && wikitag != ""){
            $.ajax({
			type: "POST",
			url: "/save_blog",
			async: true,
			traditional: true,
			data: {
                'title':title,
                'summary':summary,
                'content':content,
                'wikitag':wikitag,
                'flag':'add',
            },
			dataType: 'JSON',
			success: function(obj) {
				if(obj.status) {
					location.reload();
				} else {
					$('#error_xml').text(obj.error);
				}
			},
			error: function() {

			},
		});
        }else{
            $('#error_xml').text("标题，摘要，内容，标签都为必填")
        }
		
	})
</script>
{% endblock %}