{% extends 'main.html' %} {% load static %}  {% block content %}

    <div class="row">
        <div class="col-md-8">
            <div class="tile">
                <div class="tile-body">
                    <span style="color:red;font-size:15px;" id="error_xml"></span>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>User</th>
                            <th>更新时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in form %}
                            <tr class="table-info">
                                <td><a href="/wiki/wiki_detail_{{ item.id }}"
                                       style="cursor: pointer;">{{ item.wikititle }}</a></td>
                                <td>{{ item.user }}</td>
                                <td>{{ item.update_time }}</td>
                                <td><span class="badge" style="float: right;"><a
                                        style="color: aliceblue;cursor: pointer;"
                                        class="del_line"
                                        wiki_id={{ item.id }}>[删除]</a></span>

                                    <span class="badge" style="float: right;"><a style="color: aliceblue"
                                                                                 href="/wiki/edit_blog?id={{ item.id }}">[编辑]</a></span>
                                    {% ifequal item.status 0 %}
                                        <span class="badge" style="float: right;color:white">[草稿]</span>
                                    {% endifequal %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {{ page_str }}
                        </ul>
                    </nav>
                </div>
            </div>

        </div>

        <div class="col-sm-4">
            <!--<div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" id="search_content" placeholder="Search for...">
                    <span class="input-group-btn">
                        <label class="btn btn-default" id="go_search" ><a id="search_for">Go!</a></label>
                    </span>
                </div>
            </div>-->
            <div class="form-group">
                <span class="label label-success" style="font-size: 15px;cursor: pointer;line-height: 40px;"><a
                        href="//wiki_list?tag=all" style="text-decoration: none;">&nbsp;All&nbsp;</a></span>
                <span class="label label-success" style="font-size: 15px;cursor: pointer;line-height: 40px;"><a
                        href="/wiki_list?status=0" style="text-decoration: none;">&nbsp;所有草稿&nbsp;</a></span>
                {% for tag in taglist %}
                    <span class="label label-info" style="font-size: 15px;cursor: pointer;line-height: 40px;"><a
                            href="/wiki_list?tag={{ tag }}" style="text-decoration: none;">{{ tag }}</a></span>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %} {% block js %}
    {#    <script src="{% static "js/markdown.js" %}"></script>#}
    {#    <script src="{% static "js/to-markdown.js" %}"></script>#}
    {#    <script src="{% static "js/bootstrap-markdown.js" %}"></script>#}
    {#    <script src="{% static "js/bootstrap-markdown.zh.js" %}"></script>#}
    <script>

        {##}
        {#        (function ($) {#}
        {#            $.fn.markdown.messages.zh = {#}
        {#                'Bold': "粗体",#}
        {#                'Italic': "斜体",#}
        {#                'Heading': "标题",#}
        {#                'URL/Link': "链接",#}
        {#                'Image': "图片",#}
        {#                'List': "列表",#}
        {#                'Unordered List': "无序列表",#}
        {#                'Ordered List': "有序列表",#}
        {#                'Code': "代码",#}
        {#                'Quote': "引用",#}
        {#                'Preview': "预览",#}
        {#                'strong text': "粗体",#}
        {#                'emphasized text': "强调",#}
        {#                'heading text': "标题",#}
        {#                'enter link description here': "输入链接说明",#}
        {#                'Insert Hyperlink': "URL地址",#}
        {#                'enter image description here': "输入图片说明",#}
        {#                'Insert Image Hyperlink': "图片URL地址",#}
        {#                'enter image title here': "在这里输入图片标题",#}
        {#                'list text here': "这里是列表文本",#}
        {#                'code text here': "这里输入代码",#}
        {#                'quote here': "这里输入引用文本"#}
        {#            };#}
        {#        }(jQuery));#}
        {##}
        {#        $("#editor").markdown({#}
        {#            autofocus: true,#}
        {#            language: 'zh',#}
        {#        });#}
        //del
        $('.del_line').click(function () {
            var line_id = $(this).attr('wiki_id');
            console.log(line_id)
            if (confirm('确定删除吗？')) {
                $.ajax({
                    type: "POST",
                    url: "/wiki/del_wiki",
                    async: true,
                    data: {
                        'line_id': line_id
                    },
                    dataType: 'JSON',
                    success: function (obj) {
                        if (obj.status) {
                            location.reload();
                        } else {
                            $('#error_xml').text(obj.error);
                        }
                    },
                    error: function () {

                    }
                });
            }
        })
        //	$(document).ready(function(){
        //     //点击链接的时候调用
        //    $("#search_for").click(function(){
        //
        //        //得到input的值
        //        var search_content = $("#search_content").val();
        //
        //        //设置linkToCart的href的值
        //        $("#search_for").attr("href","/wiki_list?search_content="+search_content);
        //    });
        //  });
    </script>
{% endblock %}