{% extends 'main.html' %}{% block content %}
<div class="col-md-12">
<h1>菜单管理</h1>
<a href="/rbac/menus/new" ><button class="btn btn-primary">新增</button></a>
<table class="table table-hover">
    <thead>
    <tr role="row">
        <th>菜单</th>
        <th>父级菜单</th>
        <th colspan="2">操作</th>
    </tr>
    </thead>
    <tbody>
    {% for menu in menu_list %}
        <tr>
            <td>{{ menu.title }}</td>
            <td>{{ menu.parent }}</td>
            <td><a href="/rbac/menus/edit/{{ menu.id }}">编辑</a></td>
            <td><a href="/rbac/menus/delete/{{ menu.id }}">删除</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
