{% extends 'father.html' %}{% block content %}
<div class="col-md-12">
<h1>权限管理</h1>
<a href="/rbac/permissions/new" ><button class="btn btn-primary">新增</button></a>
<table class="table table-hover">
	<thead>
    <tr>
        <td>权限</td>
        <td>url</td>
        <td>所属菜单</td>
        <td colspan="2">操作</td>
    </tr>
    </thead>
    <tbody>
    {% for permission in permission_list %}
        <tr>
            <td>{{ permission.title }}</td>
            <td>{{ permission.url }}</td>
            <td>{{ permission.menu }}</td>
            <td><a href="/rbac/permissions/edit/{{ permission.id }}">编辑</a></td>
            <td><a href="/rbac/permissions/delete/{{ permission.id }}">删除</a></td>
        </tr>
    {% endfor %}
    <tbody>
</table>
</div>
{% endblock %}
