{% load custom_tag %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{# 通过调用自定义标签中的函数，导入rbac中的css和js #}
    <style>
        {% rbac_css %}
    </style>
    

</head>
<body>

{% rbac_menu request %}

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        $(function () {
            {% rbac_js %}
        })
    </script>
</body>
</html>