{% extends 'father.html' %}{% block content %}{% load tag_tools %}{% load static %}
<div class="row">
		<div class="col-md-6 col-lg-9">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-binoculars fa-2x"></i>
            <div class="info">
              	<div class="form-group row" style="margin-bottom:0rem">
	               	<div class="col-md-3">
		                <select id="pstatus" name="pstatus" class="form-control pfilter" style="cursor: pointer;" onchange="window.location.href='/publicsv/deadlink/?pstatus='+this.value">
							<option value="0"> 未解决 </option>
							<option value="1"> 已解决 </option>
							<option value="2"> 存疑 </option>
							<option value="-1"> 作废 </option>
						</select>
	             	</div>
	             	<div class="col-md-3">
		                <select id="pfrom" name="pfrom" class="form-control pfilter" style="cursor: pointer;" onchange="window.location.href='/publicsv/deadlink/?pfrom='+this.value">
							<option value="1"> 图片 </option>
							<option value="2"> umis官网 </option>
							<option value="0"> VR </option>
						</select>
	             	</div>
	             	<div class="col-md-2">
		                <select id="httpcode" name="httpcode" class="form-control pfilter" style="cursor: pointer;" onchange="window.location.href='/publicsv/deadlink/?httpcode='+this.value">
							{% for item in httpcode_list %}
							<option value="{{item.status_code}}"> {{item.status_code}} </option>
							{% endfor %}
						</select>
	             	</div>
	             	<div class="col-md-3">
		                <select id="pclient" name="pclient" class="form-control pfilter" style="cursor: pointer;" onchange="window.location.href='/publicsv/deadlink/?pclient='+this.value">
							<option value="0"> PC普通 </option>
							<option value="1"> Android </option>
							<option value="2"> IOS </option>
						</select>
	             	</div>
	             	<div class="col-md-1">
						<span class="label label-info" style="font-size: 15px;cursor: pointer;line-height: 40px;">
		                	<a href="/publicsv/deadlink/" style="text-decoration: none;">全部</a>
		                </span>
	             	</div>
            	</div>
            </div>
          </div>
       </div>
       <div class="col-md-6 col-lg-3">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-search fa-2x"></i>
            <div class="info">
	                <li class="app-search">
			        	<input class="app-search__input" name="search_content" id="search_content" onkeydown='if(event.keyCode==13){search_btn.click()}' name="search_content" type="search" placeholder="Search Url">
			        	<a id="search_btn"><button class="app-search__button" ><i class="fa fa-search"></i></button></a>
			        </li>
            </div>
          </div>
       </div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="tile">
			<div class="alert alert-dismissible alert-success" role="alert">死链数据详情&nbsp;&nbsp;&nbsp;
				<a class="alert-link" href="http://webqa.web.sjs.ted/wiki/wiki/wiki_detail_69" target="_blank">查看页面具体死链原因位置的方法</a>&nbsp;&nbsp;&nbsp;
				<a class="alert-link" href="/publicsv/deadlink/get_urllist/" target="_blank">问题排行榜</a>&nbsp;&nbsp;&nbsp;
			</div>
			<div class="tile-body">
				<table class="table" id="reqData" style="table-layout:fixed;word-break:break-all;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">
					<thead>
						<tr>
							<td style="display: none;">ID</td>
							<td style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;width: 20%;">Url</td>
							<td style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;width: 10%;">Query</td>
							<td style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;width: 10%;">carete_time</td>
							<td style="width: 8%;">Type</td>
							<td style="width: 5%;">ErrCount</td>
							<td style="width: 10%;">Status</td>
							<td style="width: 10%;">VRID</td>
							<td style="width: 5%;">Http code</td>
							<td style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;width: 20%;">Comment</td>
							<td></td>
						</tr>
					</thead>
					<tbody id="reqBody">
						{% for item in li %}
						<tr>
							<td style="display: none;">{{ item.id }}</td>
							<td style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;width: 18%;">
								<a href="{{ item.url }}" target="_blank" title="{{ item.url }}">
								{{ item.url }}
								</a>
							</td>							
							<td style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;width: 10%;">
								{% ifequal item.type 0 %}
								<a href="http://www.sogou.com.inner/web?query={{item.query}}" target="_blank" title="{{item.query}}">{{ item.query }}</a>
								{% else %}
								<a href="http://m.sogou.com.inner/web/searchList.jsp?keyword={{item.query}}" target="_blank" title="{{item.query}}">{{ item.query }}</a>
								{% endifequal %}
							</td>														
							<td style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;width: 10%;" title="{{ item.add_timestamp }}">{{ item.add_timestamp }}</td>
							<td style="width: 5%;" >
								{% ifequal item.ua_type 0 %}
								PC普通
								{% endifequal %} 
								{% ifequal item.ua_type 1 %}
								Android
								{% endifequal %} 
								{% ifequal item.ua_type 2 %}
								IOS
								{% endifequal %} 
							</td>
							<td style="width: 5%;">{{ item.error_count }}</td>
							<td style="width: 5%;"> 
								<a>
									{% ifequal item.status 0 %}
									<button task_id={{ item.id }} class="btn btn-outline-secondary btn-sm complate_p" style="background-color:orangered;color: black;">未解决</button>
									{% endifequal %} 
									{% ifequal item.status 1 %}
									<button class="btn btn-outline-secondary btn-sm" style="background-color: greenyellow;color: black;">已解决</button>
									{% endifequal %} 
									{% ifequal item.status 2 %}
									<button class="btn btn-outline-parimary btn-sm" style="background-color:#007BFF;color: black;">存疑</button>
									{% endifequal %} 
									{% ifequal item.status -1 %}
									<button class="btn btn-outline-danger btn-sm" style="background-color: #4B88A6;color: black;">作废</button>
									{% endifequal %}							
								</a>
							</td>
							<td style="width: 8%;">{{ item.vrid }}</td>
							<td style="width: 5%;">{{ item.status_code }}</td>
							<td style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;width: 18%;" title="{{item.comment}}">
									{% autoescape off %}
									{{ item.comment }}
									{% endautoescape%}																
							</td>
							<td>								
		                		<a href="#" class="openhide" style="width: 5%;"> 详情 </a>
							</td>
						</tr>
						<tr class="hidecontent hide">
							<td colspan="10" style="text-align: right;background-color: #85C5E5;">
								{% autoescape off %}
								{{ item.comment }}
								{% endautoescape%}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div id="showDiv"></div>
	        <div class="tile-footer">
	        	<div class="row">
	            <div class="col-md-9 col-md-offset-2">
	            	<nav aria-label="Page navigation">
						<ul class="pagination">
				    		{{page_str}}
						</ul>
					</nav>
	            </div>
	         </div>        	
		</div>
	</div>
</div>
</div>
{% endblock %}
{% block js %}
<script>	
	$(function(){
		$('.openhide').click(function(){
			have_hide = $(this).parent().parent().next().hasClass('hide');
			console.log(have_hide)
			if(have_hide){
				$(this).parent().parent().next().removeClass('hide');
			}else{
				$(this).parent().parent().next().addClass('hide');
			}
			$(this).parent().parent().next().siblings('.hidecontent').addClass('hide');
		})
//		 $(document).ready(function(){
//	       //点击链接的时候调用
//		    $(".pfilter").change(function(){		 
//		        pstatus = $('#pstatus').val();
//				pfrom = $('#pfrom').val();
//				httpcode = $('#httpcode').val();
//				pclient = $('#pclient').val();
//		 		window.location.href="/publicsv/deadlink/?pstatus="+pstatus+'&pfrom='+pfrom+'&httpcode='+httpcode+'&pclient='+pclient;
//		      });
//		    });
		
		$('.complate_p').click(function(){
			var task_id = $(this).attr('task_id');
			console.log(task_id)
			if(confirm('是否确认已解决?')){
				$.ajax({
				type:"POST",
				url:"/publicsv/deadlink/del_line/",
				async:true,
				data:{'task_id':task_id},
				dataType:'JSON',
				success:function(obj){
					if(obj.status){
						location.reload();
					}else{
						alert("修改失败");
					}
				},
				error:function(){
					
				}
			});
			}else{
				return;
			}
		})
		 
	    $(document).ready(function(){
	       //点击链接的时候调用
		      $("#search_btn").click(function(){
		 
		          //得到input的值
		          var search_content = $("#search_content").val();
		 
		          //设置linkToCart的href的值
		          $("#search_btn").attr("href","/publicsv/deadlink?key="+search_content);
		      });
		    });

    		//判断ajax里面的方法是get还是post
    		function csrfSafeMethod(method){
    			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    		}
    		
			//只要执行一次ajaxSetup进行header设置,就可以不用在没个ajax里面添加header信息了
    		$.ajaxSetup({
    			beforeSend:function(xhr,settings){
    				if(!csrfSafeMethod(settings.type)&&!this.crossDomain){
    					xhr.setRequestHeader('X-CSRFtoken',$.cookie('csrftoken'))
    				}    				
    			}
    		});
    		
    		function getQueryString(name) {
			    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
			    var r = window.location.search.substr(1).match(reg);
			    if (r != null)
			        return unescape(r[2]);
			    return null;
			}
    		
			var pstatus = getQueryString("pstatus");
			var pfrom = getQueryString("pfrom");
			var httpcode = getQueryString("httpcode");
			var pclient = getQueryString("pclient");
			var search_content = getQueryString("search_content");
			if(pstatus){
				$('#pstatus').val(getQueryString("pstatus"));
			}
			if(pfrom){
				$('#pfrom').val(getQueryString("pfrom"));
			}
			if(httpcode){
				$('#httpcode').val(getQueryString("httpcode"));
			}
			if(pclient){
				$('#pclient').val(getQueryString("pclient"));
			}
			if(search_content){
				$('#search_content').val(getQueryString("search_content"))
			}
//			else{
//				$('#reqfield').val('all');
//			}
    		
    		//save
//			$('#search_btn').click(function() {
//				var search_content = $('#search_content').val()
//				if(search_content != "") {
//					$.ajax({
//						type: "GET",
//						url: "/publicsv/svcheck/",
//						async: true,
//						traditional: true,
//						data: {
//							'search_content': search_content,
//						},
//						dataType: 'JSON',
//						success: function(obj) {
//							if(obj.status) {
//								location.reload();
//							} else {
//								window.alert("not found");
//							}
//						},
//						error: function() {
//		
//						},
//					});
//					$('#error_xml').text('');
//				} else {
//				}
//			})
		

		
			//del
			$('.del_line').click(function() {
				var line_id = $(this).parent().parent().attr('req_id');
				$.ajax({
					type: "POST",
					url: "/fanyi/debug/del_line/",
					async: true,
					data: {
						'line_id': line_id,
					},
					dataType: 'JSON',
					success: function(obj) {
						if(obj.status) {
							location.reload();
						} else {
							$('#error_xml').text(obj.error);
						}
					},
					error: function() {
		
					}
				});
		
			})
		
			//getData
//			$('.get_data').dblclick(function() {
//				var linelst = $(this).children();
//				reqtype = $(linelst[0]).text();
//				if(reqtype == 'json'){
//					$('#Chinese_query').removeClass('hide');
//			    	$('#lan_sel').val('en');
//			    	$('#lan_sel')[0].disabled=true;
//			    	$('#inlineRadio1')[0].disabled=true;
//			    	$('#inlineRadio2')[0].disabled=true;
//					$('#inlineRadio1').prop("checked", 'checked');
//					$('#inlineRadio2').removeAttr("checked");
//				}else{
//					$('#Chinese_query').addClass('hide');
//					$('#lan_sel')[0].disabled=false;
//					$('#inlineRadio1')[0].disabled=false;
//					$('#inlineRadio2')[0].disabled=false;
//				}
//				hostip = "http://"+$(linelst[1]).text();
//				direction = $(linelst[2]).text();
//				reqfield = $(linelst[3]).text();
//				reqtext = $(linelst[4]).text();
//				result = $(linelst[5]).text();
//				isfromzh = $(linelst[6]).text();
//				oriresult = $(linelst[7]).text();
//				chnquery = $(linelst[8]).text();
//				$('#Chn_query').val(chnquery);
//				$('#field').val(reqfield);
//				$('#inputHost').val(hostip);
//				$('#reqtype').val(reqtype);
//				$('#lan_sel').val(direction);
//				$('#reqtext').val(reqtext);
//				$('#oriresult').val(oriresult);
//				if(isfromzh == 'fromzh') {
//					$('#inlineRadio2').prop("checked", 'checked');
//					$('#inlineRadio1').removeAttr("checked");
//				} else {
//					$('#inlineRadio2').removeAttr("checked");
//					$('#inlineRadio1').prop("checked", 'checked');
//					
//				}
//				$('#result').val(result);
//				$('#debugInfo').text('');
//			})
		
//			$('#lan_filter').change(function() {
//				var sel_lang = $(this).val();
//				if(sel_lang == 'all') {
//					$('#reqBody').children().each(function() {
//						$(this).removeClass('hide');
//					})
//				} else {
//					$('#reqBody').children().each(function() {
//						var line_lang = $(this).attr('lang_type');
//						if(sel_lang != line_lang) {
//							$(this).addClass('hide');
//						} else {
//							$(this).removeClass('hide');
//						}
//					})
//		
//				}
//			})
			//table hover
//			$(function() {
//				function showBox(obj, box) {
//					var timer = null;
//					$(obj).on("mouseover", function(e) {
//						clearTimeout(timer);
//						var clientX = e.clientX;
//						var clientY = e.clientY;
//						var y = clientY + 20;
//						var txt = $(this).text();
//						timer = setTimeout(function() {
//							$(box).css("left", clientX).css("top", y);
//							if(txt == "") {
//								$(box).hide();
//							} else {
//								$(box).show();
//								$(box).html(txt);
//							}
//						}, 300);
//					});
//					$(obj).on("mouseout", function() {
//						clearTimeout(timer);
//						$(box).hide();
//					});
//				}
//				showBox("#reqData > tbody td", "#showDiv");
//			});
//  		
    	})
	
	
	
</script>
{% endblock %}
