{% extends 'father.html' %}{% block content %}{% load tag_tools %}{% load static %}
<div class="row">
		<div class="col-md-6 col-lg-12">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-search fa-2x"></i>
            <div class="info">
              	<span class="label label-info" style="font-size: 15px;cursor: pointer;line-height: 40px;">
                	<a href="/publicsv/svcheck?tag=all" style="text-decoration: none;">全部&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </span>
                <span class="label label-info" style="font-size: 15px;cursor: pointer;line-height: 40px;">
                	<a href="/publicsv/svcheck?tag=crash" style="text-decoration: none;">离线服务&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </span>
                <span class="label label-info" style="font-size: 15px;cursor: pointer;line-height: 40px;">
                	<a href="/publicsv/svcheck?tag=unonline" style="text-decoration: none;">无线上服务&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </span>
            </div>
            <li class="app-search">
	        	<input class="app-search__input" id="search_content" name="search_content" type="search" placeholder="Search">
	        	<a id="search_btn"><button class="app-search__button" ><i class="fa fa-search"></i></button></a>
	        </li>
          </div>
       </div>
</div>
<div class="row">
	{% for item in li %}
    <div class="col-md-6 col-lg-3" >
    	{% ifequal item.status 1 %}
    		{% ifequal item.host_online '' %}
            <div class="widget-small info coloured-icon" style="background-color: #ffc107;">
            {% else %}
            <div class="widget-small info coloured-icon">
            {% endifequal %}
		      	<i class="icon fa fa-thumbs-o-up fa-2x"></i>		      	
		        <div class="info">		        	
		        	<h6>
		        		<a title="{{item.svninfo}}" href="/publicsv/svcheck/detail/?svid={{item.id}}" target="_blank">
		        		{{item.sv_name}}
		        		</a>
		        	</h6>		        	
		        	<p><b>{{item.sv_host}}:{{item.sv_port}}</b></p>
		        </div>
		     </div>
        {% endifequal %} 
        {% ifequal item.status 0 %}
        	{% ifequal item.host_online '' %}
	        <div class="widget-small danger coloured-icon" style="background-color: #ffc107;">
	        {% else %}
	        <div class="widget-small danger coloured-icon">
	        {% endifequal %}
		      	<i class="icon fa fa-thumbs-o-down fa-2x"></i>
		        <div class="info">		        	
		        	<h6 style="color: red;">
		        		<a title="{{item.svninfo}}" href="/publicsv/svcheck/detail/?svid={{item.id}}" target="_blank">
		        		{{item.sv_name}}
		        		</a>
		        	</h6>		        	
		        	<p style="color: red;"><b>{{item.sv_host}}:{{item.sv_port}}</b></p>
		        </div>
		    </div>
        {% endifequal %} 
    	</div>
    {% endfor %}
			</div>
	</div>
	<div class="tile-footer">
        	<div class="row">
	            <div class="col-md-9 col-md-offset-2">
	            	<nav aria-label="Page navigation">
						<ul class="pagination">
				    		{{page_str}}
						</ul>
					</nav>
	            </div>
            </div>        	
        </div>
</div>
<!--<div class="row">       
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title">请求列表</h3>
        <div class="tile-body">
        	<table class="table" id="reqData">
			<thead>
				<tr>
					<td>ID</td>
					<td>ServiceName</td>
					<td>Host</td>
					<td>Port</td>
					<td>Tpye</td>
					<td>Status</td>
				</tr>
			</thead>
			<tbody id="reqBody">
				{% for item in li %}
				<tr req_id="{{item.id}}" class="get_data">
					<td style="">{{item.id}}</td>
					<td ><a title="{{item.svninfo}}" href="/publicsv/svcheck/detail/?svid={{item.id}}" target="_blank">{{item.sv_name}}</a></td>
					<td>{{item.sv_host}}</td>
					<td>{{item.sv_port}}</td>
					<td>{{item.sv_port_type}}</td>
					<td>{{item.status}}</td>
				</tr>
				{% endfor %}
			</tbody>

		</table>
        </div>
        <div id="showDiv"></div>
        <div class="tile-footer">
        	<div class="row">
	            <div class="col-md-9 col-md-offset-2">
	            	<nav aria-label="Page navigation">
						<ul class="pagination">
				    		{{page_str}}
						</ul>
					</nav>
	            </div>
            </div>        	
        </div>
      </div>
    </div>
</div>
-->
{% endblock %}
{% block js %}
<script>	
	$(function(){

	    $(document).ready(function(){
	       //点击链接的时候调用
		      $("#search_btn").click(function(){
		 
		          //得到input的值
		          var search_content = $("#search_content").val();
		 
		          //设置linkToCart的href的值
		          $("#search_btn").attr("href","/publicsv/svcheck?key="+search_content);
		      });
		    });

    		//判断ajax里面的方法是get还是post
    		function csrfSafeMethod(method){
    			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    		}
    		
			//只要执行一次ajaxSetup进行header设置,就可以不用在没个ajax里面添加header信息了
    		$.ajaxSetup({
    			beforeSend:function(xhr,settings){
    				if(!csrfSafeMethod(settings.type)&&!this.crossDomain){
    					xhr.setRequestHeader('X-CSRFtoken',$.cookie('csrftoken'))
    				}    				
    			}
    		});
    		
    		function getQueryString(name) {
			    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
			    var r = window.location.search.substr(1).match(reg);
			    if (r != null)
			        return unescape(r[2]);
			    return null;
			}
    		
			var field_name = getQueryString("field");
			if(field_name){
				$('#reqfield').val(getQueryString("field"));
				
			}else{
				$('#reqfield').val('all');
			}
    		
    		//save
//			$('#search_btn').click(function() {
//				var search_content = $('#search_content').val()
//				if(search_content != "") {
//					$.ajax({
//						type: "GET",
//						url: "/publicsv/svcheck/",
//						async: true,
//						traditional: true,
//						data: {
//							'search_content': search_content,
//						},
//						dataType: 'JSON',
//						success: function(obj) {
//							if(obj.status) {
//								location.reload();
//							} else {
//								window.alert("not found");
//							}
//						},
//						error: function() {
//		
//						},
//					});
//					$('#error_xml').text('');
//				} else {
//				}
//			})
		
			//request
			$('#request_xml').click(function() {
				var reqtext = $('#reqtext').val()
				var inputHost = $('#inputHost').val()
				if(reqtext != "" && inputHost != "") {
					$.ajax({
						type: "POST",
						url: "/fanyi/debug/",
						async: true,
						traditional: true,
						data: $('#form_xml').serialize(),
						dataType: 'JSON',
						success: function(obj) {
							if(obj.status) {
								if(obj.reqtype=='alltrans_json'){
									resultSplit=(obj.transResult).split('|||');
									result_str=""
									for(i=0;i<resultSplit.length;i++){
										result_str+=(resultSplit[i]+'\r\n')
									}
//									debugInfo_str="返回信息：\r\n"+obj.debugInfo +'\r\n'+"请求串:\r\n"+obj.requestStr
									debugInfo_str="返回信息：\r\n"+obj.debugInfo +'\r\n'
								}else if(obj.reqtype=='json'){
									resultSplit=(obj.transResult).split('^^^');
									result_str=""
									for(i=0;i<resultSplit.length;i++){
										result_str+=(resultSplit[i]+'\r\n')
									}
//									debugInfo_str="返回信息：\r\n"+obj.debugInfo +'\r\n'+"请求串:\r\n"+obj.requestStr
									debugInfo_str="请求串:\r\n"+obj.requestStr
								}else{
									result_str=obj.transResult
									
//									debugInfo_str="Debug信息：\r\n"+obj.debugInfo+'\r\n'+ "请求串:\r\n"+ obj.requestStr
									debugInfo_str="Debug信息：\r\n"+obj.debugInfo+'\r\n'
								}
								$('#result').val(result_str)
//								$('#debugInfo').val(debugInfo_str);
								$('#debugInfo').text(debugInfo_str);
								$('#oriresult').text(obj.oriresult);
								$('#error_xml').text('');
							} else {
								$('#error_xml').text(obj.error);
							}
						},
						error: function() {
		
						},
					});
					$('#error_xml').text('');
				} else {
					if(reqtext == '') {
						$('#error_xml').text('Request不可为空');
					} else if(inputHost == '') {
						$('#error_xml').text('Host不可为空');
					} else {
						$('#error_xml').text('未知错误');
					}
				}
			})
		
			//del
			$('.del_line').click(function() {
				var line_id = $(this).parent().parent().attr('req_id');
				$.ajax({
					type: "POST",
					url: "/fanyi/debug/del_line/",
					async: true,
					data: {
						'line_id': line_id,
					},
					dataType: 'JSON',
					success: function(obj) {
						if(obj.status) {
							location.reload();
						} else {
							$('#error_xml').text(obj.error);
						}
					},
					error: function() {
		
					}
				});
		
			})
		
			//getData
			$('.get_data').dblclick(function() {
				var linelst = $(this).children();
				reqtype = $(linelst[0]).text();
				if(reqtype == 'json'){
					$('#Chinese_query').removeClass('hide');
			    	$('#lan_sel').val('en');
			    	$('#lan_sel')[0].disabled=true;
			    	$('#inlineRadio1')[0].disabled=true;
			    	$('#inlineRadio2')[0].disabled=true;
					$('#inlineRadio1').prop("checked", 'checked');
					$('#inlineRadio2').removeAttr("checked");
				}else{
					$('#Chinese_query').addClass('hide');
					$('#lan_sel')[0].disabled=false;
					$('#inlineRadio1')[0].disabled=false;
					$('#inlineRadio2')[0].disabled=false;
				}
				hostip = "http://"+$(linelst[1]).text();
				direction = $(linelst[2]).text();
				reqfield = $(linelst[3]).text();
				reqtext = $(linelst[4]).text();
				result = $(linelst[5]).text();
				isfromzh = $(linelst[6]).text();
				oriresult = $(linelst[7]).text();
				chnquery = $(linelst[8]).text();
				$('#Chn_query').val(chnquery);
				$('#field').val(reqfield);
				$('#inputHost').val(hostip);
				$('#reqtype').val(reqtype);
				$('#lan_sel').val(direction);
				$('#reqtext').val(reqtext);
				$('#oriresult').val(oriresult);
				if(isfromzh == 'fromzh') {
					$('#inlineRadio2').prop("checked", 'checked');
					$('#inlineRadio1').removeAttr("checked");
				} else {
					$('#inlineRadio2').removeAttr("checked");
					$('#inlineRadio1').prop("checked", 'checked');
					
				}
				$('#result').val(result);
				$('#debugInfo').text('');
			})
		
			$('#lan_filter').change(function() {
				var sel_lang = $(this).val();
				if(sel_lang == 'all') {
					$('#reqBody').children().each(function() {
						$(this).removeClass('hide');
					})
				} else {
					$('#reqBody').children().each(function() {
						var line_lang = $(this).attr('lang_type');
						if(sel_lang != line_lang) {
							$(this).addClass('hide');
						} else {
							$(this).removeClass('hide');
						}
					})
		
				}
			})
			//table hover
//			$(function() {
//				function showBox(obj, box) {
//					var timer = null;
//					$(obj).on("mouseover", function(e) {
//						clearTimeout(timer);
//						var clientX = e.clientX;
//						var clientY = e.clientY;
//						var y = clientY + 20;
//						var txt = $(this).text();
//						timer = setTimeout(function() {
//							$(box).css("left", clientX).css("top", y);
//							if(txt == "") {
//								$(box).hide();
//							} else {
//								$(box).show();
//								$(box).html(txt);
//							}
//						}, 300);
//					});
//					$(obj).on("mouseout", function() {
//						clearTimeout(timer);
//						$(box).hide();
//					});
//				}
//				showBox("#reqData > tbody td", "#showDiv");
//			});
//  		
    	})
	
	
	
</script>
{% endblock %}
