{% extends 'father.html' %}{% block content %}{% load tag_tools %}{% load static %}
<div class="row">
	<div class="col-md-12">
		<div class="tile">
			<div class="alert alert-dismissible alert-success" role="alert">问题排行榜&nbsp;&nbsp;&nbsp;</div>
			<div class="tile-body">
				<table class="table" id="reqData" style="table-layout:fixed;word-break:break-all;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">
					<thead>
						<tr>
							<td>URL</td>
							<td>总量</td>
						</tr>
					</thead>
					<tbody id="reqBody">
						<tr>
							<td>{{ list30 }}</td>							
							<td>{{ item }}</td>							
						</tr>
						{% for item in urllist %}
						<tr>
							<td>{{ item.0 }}</td>							
							<td>{{ item.1 }}</td>							
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div id="showDiv"></div>
	</div>
</div>
</div>
{% endblock %}
{% block js %}
<script>	
	$(function(){
		$('.openhide').click(function(){
			have_hide = $(this).parent().parent().next().hasClass('hide');
			console.log(have_hide)
			if(have_hide){
				$(this).parent().parent().next().removeClass('hide');
			}else{
				$(this).parent().parent().next().addClass('hide');
			}
			$(this).parent().parent().next().siblings('.hidecontent').addClass('hide');
		})
//		 $(document).ready(function(){
//	       //点击链接的时候调用
//		    $(".pfilter").change(function(){		 
//		        pstatus = $('#pstatus').val();
//				pfrom = $('#pfrom').val();
//				httpcode = $('#httpcode').val();
//				pclient = $('#pclient').val();
//		 		window.location.href="/publicsv/deadlink/?pstatus="+pstatus+'&pfrom='+pfrom+'&httpcode='+httpcode+'&pclient='+pclient;
//		      });
//		    });
		
		$('.complate_p').click(function(){
			var task_id = $(this).attr('task_id');
			console.log(task_id)
			if(confirm('是否确认已解决?')){
				$.ajax({
				type:"POST",
				url:"/publicsv/deadlink/del_line/",
				async:true,
				data:{'task_id':task_id},
				dataType:'JSON',
				success:function(obj){
					if(obj.status){
						location.reload();
					}else{
						alert("修改失败");
					}
				},
				error:function(){
					
				}
			});
			}else{
				return;
			}
		})
		 
	    $(document).ready(function(){
	       //点击链接的时候调用
		      $("#search_btn").click(function(){
		 
		          //得到input的值
		          var search_content = $("#search_content").val();
		 
		          //设置linkToCart的href的值
		          $("#search_btn").attr("href","/publicsv/deadlink?key="+search_content);
		      });
		    });

    		//判断ajax里面的方法是get还是post
    		function csrfSafeMethod(method){
    			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    		}
    		
			//只要执行一次ajaxSetup进行header设置,就可以不用在没个ajax里面添加header信息了
    		$.ajaxSetup({
    			beforeSend:function(xhr,settings){
    				if(!csrfSafeMethod(settings.type)&&!this.crossDomain){
    					xhr.setRequestHeader('X-CSRFtoken',$.cookie('csrftoken'))
    				}    				
    			}
    		});
    		
    		function getQueryString(name) {
			    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
			    var r = window.location.search.substr(1).match(reg);
			    if (r != null)
			        return unescape(r[2]);
			    return null;
			}
    		
			var pstatus = getQueryString("pstatus");
			var pfrom = getQueryString("pfrom");
			var httpcode = getQueryString("httpcode");
			var pclient = getQueryString("pclient");
			if(pstatus){
				$('#pstatus').val(getQueryString("pstatus"));
			}
			if(pfrom){
				$('#pfrom').val(getQueryString("pfrom"));
			}
			if(httpcode){
				$('#httpcode').val(getQueryString("httpcode"));
			}
			if(pclient){
				$('#pclient').val(getQueryString("pclient"));
			}
//			else{
//				$('#reqfield').val('all');
//			}
    		
    		//save
//			$('#search_btn').click(function() {
//				var search_content = $('#search_content').val()
//				if(search_content != "") {
//					$.ajax({
//						type: "GET",
//						url: "/publicsv/svcheck/",
//						async: true,
//						traditional: true,
//						data: {
//							'search_content': search_content,
//						},
//						dataType: 'JSON',
//						success: function(obj) {
//							if(obj.status) {
//								location.reload();
//							} else {
//								window.alert("not found");
//							}
//						},
//						error: function() {
//		
//						},
//					});
//					$('#error_xml').text('');
//				} else {
//				}
//			})
		

		
			//del
			$('.del_line').click(function() {
				var line_id = $(this).parent().parent().attr('req_id');
				$.ajax({
					type: "POST",
					url: "/fanyi/debug/del_line/",
					async: true,
					data: {
						'line_id': line_id,
					},
					dataType: 'JSON',
					success: function(obj) {
						if(obj.status) {
							location.reload();
						} else {
							$('#error_xml').text(obj.error);
						}
					},
					error: function() {
		
					}
				});
		
			})
		
			//getData
//			$('.get_data').dblclick(function() {
//				var linelst = $(this).children();
//				reqtype = $(linelst[0]).text();
//				if(reqtype == 'json'){
//					$('#Chinese_query').removeClass('hide');
//			    	$('#lan_sel').val('en');
//			    	$('#lan_sel')[0].disabled=true;
//			    	$('#inlineRadio1')[0].disabled=true;
//			    	$('#inlineRadio2')[0].disabled=true;
//					$('#inlineRadio1').prop("checked", 'checked');
//					$('#inlineRadio2').removeAttr("checked");
//				}else{
//					$('#Chinese_query').addClass('hide');
//					$('#lan_sel')[0].disabled=false;
//					$('#inlineRadio1')[0].disabled=false;
//					$('#inlineRadio2')[0].disabled=false;
//				}
//				hostip = "http://"+$(linelst[1]).text();
//				direction = $(linelst[2]).text();
//				reqfield = $(linelst[3]).text();
//				reqtext = $(linelst[4]).text();
//				result = $(linelst[5]).text();
//				isfromzh = $(linelst[6]).text();
//				oriresult = $(linelst[7]).text();
//				chnquery = $(linelst[8]).text();
//				$('#Chn_query').val(chnquery);
//				$('#field').val(reqfield);
//				$('#inputHost').val(hostip);
//				$('#reqtype').val(reqtype);
//				$('#lan_sel').val(direction);
//				$('#reqtext').val(reqtext);
//				$('#oriresult').val(oriresult);
//				if(isfromzh == 'fromzh') {
//					$('#inlineRadio2').prop("checked", 'checked');
//					$('#inlineRadio1').removeAttr("checked");
//				} else {
//					$('#inlineRadio2').removeAttr("checked");
//					$('#inlineRadio1').prop("checked", 'checked');
//					
//				}
//				$('#result').val(result);
//				$('#debugInfo').text('');
//			})
		
//			$('#lan_filter').change(function() {
//				var sel_lang = $(this).val();
//				if(sel_lang == 'all') {
//					$('#reqBody').children().each(function() {
//						$(this).removeClass('hide');
//					})
//				} else {
//					$('#reqBody').children().each(function() {
//						var line_lang = $(this).attr('lang_type');
//						if(sel_lang != line_lang) {
//							$(this).addClass('hide');
//						} else {
//							$(this).removeClass('hide');
//						}
//					})
//		
//				}
//			})
			//table hover
//			$(function() {
//				function showBox(obj, box) {
//					var timer = null;
//					$(obj).on("mouseover", function(e) {
//						clearTimeout(timer);
//						var clientX = e.clientX;
//						var clientY = e.clientY;
//						var y = clientY + 20;
//						var txt = $(this).text();
//						timer = setTimeout(function() {
//							$(box).css("left", clientX).css("top", y);
//							if(txt == "") {
//								$(box).hide();
//							} else {
//								$(box).show();
//								$(box).html(txt);
//							}
//						}, 300);
//					});
//					$(obj).on("mouseout", function() {
//						clearTimeout(timer);
//						$(box).hide();
//					});
//				}
//				showBox("#reqData > tbody td", "#showDiv");
//			});
//  		
    	})
	
	
	
</script>
{% endblock %}
