{% extends 'father.html' %}{% load tag_tools %}{% block content %}{% load static %}
<div class="row">
	<div class="col-md-5">
		<div class="tile">
			<h3 class="tile-title">添加服务&nbsp;&nbsp;&nbsp;<span style="color:red;font-size:15px;" id="error_xml"></span></h3>
			<div class="tile-body">
				<form class="form-horizontal" method="POST" id="form_xml">
					{% csrf_token %}
					<div class="form-group row">
						<label class="control-label col-md-2">HostIP</label>
						<div class="col-md-6">
							<input class="form-control" type="text"  id="analyip" name="analyip" placeholder="ip" >
						</div>
					</div>					
					<div class="form-group row">
						<label class="control-label col-md-2">Username</label>
						<div class="col-md-6">
							<input type="text" class="form-control" id="analyuser" name="analyuser" placeholder="username" >
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-2">Password</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="analypassw" name="analypassw" placeholder="password" >
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-2">TestLogPath</label>
						<div class="col-md-10">
							<input type="text" class="form-control" id="testlogpath" name="testlogpath" placeholder="绝对路径+文件名" >
						</div>
					</div>
                    <div class="form-group row">
						<label class="control-label col-md-2"></label>
                        <div class="col-md-6">
							<select id="test_ttype" name="test_ttype" class="form-control" style="cursor: pointer;">
                                <option value="1"> yyyyMMdd HH:mm:ss </option>
                                <option value="2"> yyyy-MM-dd HH:mm:ss </option>
                            </select>
						</div>
						<div class="col-md-4">
							<input type="text" class="form-control" id="testp99" name="testp99" placeholder="数据节点,默认0.99" >
						</div>						
					</div>
					<div class="form-group row">
						<label class="control-label col-md-2"></label>
						<div class="col-md-5">
							<input type="text" class="form-control" id="test_interval" name="test_interval" placeholder="间隔,默认10(s)" >
						</div>
						<div class="col-md-5">
							<input type="text" class="form-control" id="test_box" name="test_box" placeholder="box，默认500" >
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-2">BaseLogPath</label>
						<div class="col-md-10">
							<input type="text" class="form-control" id="baselogpath" name="baselogpath" placeholder="绝对路径+文件名" >
						</div>
					</div>
                    <div class="form-group row">
						<label class="control-label col-md-2"></label>
                        <div class="col-md-6">
							<select id="base_ttype" name="base_ttype" class="form-control" style="cursor: pointer;">
                                <option value="1"> yyyyMMdd HH:mm:ss </option>
                                <option value="2"> yyyy-MM-dd HH:mm:ss </option>
                            </select>
						</div>
						<div class="col-md-4">
							<input type="text" class="form-control" id="basep99" name="basep99" placeholder="数据节点,默认0.99" >
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-2"></label>
						<div class="col-md-5">
							<input type="text" class="form-control" id="base_interval" name="base_interval" placeholder="间隔,默认10(s)" >
						</div>
						<div class="col-md-5">
							<input type="text" class="form-control" id="base_box" name="base_box" placeholder="box，默认500" >
						</div>
					</div>
				</form>
			</div>
			<div class="tile-footer">
				<div class="row">
					<div class="col-md-9 col-md-offset-2">
						<button class="btn btn-primary" type="button" id="add_host"><i class="fa fa-fw fa-lg fa-check-circle"></i>Add</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-7">
		<div class="tile">
			<h3 class="tile-title">任务列表&nbsp;&nbsp;&nbsp;<span style="color:#007D71;font-size:15px;">Tips:**双击列表，当前行信息可自动回填，避免每次手动重复添加。**</span></h3>
			<div class="tile-body">
				<table class="table" id="reqData">
				<thead>
					<tr>
						<td>ID</td>
						<td style="">StartTime</td>
						<td>EndTime</td>
						<td>IP</td>
						<td>User</td>
						<td>Stauts</td>
						<td>Ctrl</td>
						<td>详情</td>
					</tr>
				</thead>
				<tbody style="cursor: pointer;" id="reqBody">
					{% for item in li %}
					<tr req_id="{{item.id}}" class="get_data">
						<td>{{item.id}}</td>
						<td>{{item.create_time}}</td>
						<td>{{item.end_time}}</td>
						<td>{{item.ip}}</td>
						<td>{{item.user}}</td>
						<td>
							<a href="/publicsv/p99/detail/?taskid={{item.id}}">
								{% ifequal item.status 0 %}
								<button class="btn btn-outline-info btn-sm" style="color: green;">Finished</button>
								{% endifequal %} 
								{% ifequal item.status 1 %}
								<button class="btn btn-outline-success btn-sm" style="color: cream;">Running</button>
								{% endifequal %}
								{% ifequal item.status 2 %}
								<button class="btn btn-outline-danger btn-sm" style="color: red;">Error</button>
								{% endifequal %}
							</a>
						</td>
						<td style="display: none;">{{item.passw}}</td>
						<td style="display: none;">{{item.testlog_path}}</td>
						<td style="display: none;">{{item.baselog_path}}</td>
						<td style="display: none;">{{item.testp}}</td>
						<td style="display: none;">{{item.basep}}</td>
						<td style="display: none;">{{item.test_interval}}</td>
						<td style="display: none;">{{item.base_interval}}</td>
						<td style="display: none;">{{item.testbox}}</td>
						<td style="display: none;">{{item.basebox}}</td>
                        <td style="display: none;">{{item.test_ttype}}</td>
						<td style="display: none;">{{item.base_ttype}}</td>
						{% ifequal item.status 0 %}
						<td>
							<button class="btn btn-danger btn-sm del_one_task" style="color: black;" >DEL</button>
						</td>
						{% endifequal%}
						{% ifequal item.status 1 %}
						<td class="tabletd">							
						</td>
						{% endifequal%}
						{% ifequal item.status 2 %}
						<td>
							<button class="btn btn-danger btn-sm del_one_task" style="color: black;" >DEL</button>
						</td>						
						{% endifequal%}
						<td>								
	                		<a href="#" class="openhide" style="width: 5%;"> 详情 </a>
						</td>
					</tr>
					<tr class="hidecontent hide">
						<td colspan="8" style="text-align: left;background-color: #85C5E5;">
						Test日志路径：{{ item.testlog_path }}&nbsp;&nbsp;&nbsp;&nbsp;Base日志路径：{{ item.baselog_path }}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			</div>
			<div id="showDiv"></div>
	        <div class="tile-footer">
	        	<div class="row">
	            <div class="col-md-9 col-md-offset-2">
	            	<nav aria-label="Page navigation">
						<ul class="pagination">
				    		{{page_str}}
						</ul>
					</nav>
	            </div>
	         </div>        	
	        </div>
		</div>
	</div>
</div>



{% endblock %} {% block js %}

<script>
	$(function(){
		$('.openhide').click(function(){
			have_hide = $(this).parent().parent().next().hasClass('hide');
			console.log(have_hide)
			if(have_hide){
				$(this).parent().parent().next().removeClass('hide');
			}else{
				$(this).parent().parent().next().addClass('hide');
			}
			$(this).parent().parent().next().siblings('.hidecontent').addClass('hide');
		})
		
		
		//判断ajax里面的方法是get还是post
		function csrfSafeMethod(method){
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		
		//只要执行一次ajaxSetup进行header设置,就可以不用在没个ajax里面添加header信息了
		$.ajaxSetup({
			beforeSend:function(xhr,settings){
				if(!csrfSafeMethod(settings.type)&&!this.crossDomain){
					xhr.setRequestHeader('X-CSRFtoken',$.cookie('csrftoken'))
				}    				
			}
		});
		//add_host
		$('#add_host').click(function() {
			var analyip = $("#analyip").val()
			var analyuser = $("#analyuser").val()
			var analypassw = $("#analypassw").val()
			var testlogpath = $("#testlogpath").val()
			var baselogpath = $("#baselogpath").val()
            var test_ttype = $('#test_ttype').val()
            var base_ttype = $('#base_ttype').val()
			var testp99 = $("#testp99").val()
			var test_interval = $("#test_interval").val()
			var basep99 = $("#basep99").val()
			var base_interval = $("#base_interval").val()
			var test_box = $("#test_box").val()
			var base_box = $("#base_box").val()
			if(analyip != "" && analyuser != "" && analypassw!="") {
				if(testlogpath !="" || baselogpath!=""){					
					$.ajax({
						type: "POST",
						url: "/publicsv/p99/",
						async: true,
						traditional: true,
						data: {
							'analyip': analyip,
							'analyuser': analyuser,
							'analypassw': analypassw,
							'testlogpath':testlogpath,
							'baselogpath':baselogpath,
							'testp99':testp99,
							'test_interval':test_interval,
							'basep99':basep99,
							'base_interval':base_interval,
							'testbox':test_box,
							'basebox':base_box,
                            'test_ttype':test_ttype,
                            'base_ttype':base_ttype,
						},
						dataType: 'JSON',
						success: function(obj) {
							if(obj.status) {
								window.location.href = '/publicsv/p99/';
							} else {
								$('#error_xml').text(obj.error);
							}
						},
						error: function() {
		
						},
					});
					$('#error_xml').text('');
				}else{
					$('#error_xml').text('路径不可都为空');
				}
			} else {
				if(monitorip == '') {
					$('#error_xml').text('ip不可为空。');
				} else if(monitoruser == '') {
					$('#error_xml').text('用户名不可为空。');
				} else if(monitorpassw==''){
					$('#error_xml').text('密码不可为空。');
				}else {
					$('#error_xml').text('未知错误。');
				}
			}
		})
		
//		//table hover
//		$(function() {
//			function showBox(obj, box) {
//				var timer = null;
//				$(obj).on("mouseover", function(e) {
//					clearTimeout(timer);
//					var clientX = e.clientX;
//					var clientY = e.clientY;
//					var y = clientY + 20;
//					var txt = $(this).text();
//					timer = setTimeout(function() {
//						$(box).css("left", clientX).css("top", y);
//						if(txt == "") {
//							$(box).hide();
//						} else {
//							$(box).show();
//							$(box).html(txt);
//						}
//					}, 300);
//				});
//				$(obj).on("mouseout", function() {
//					clearTimeout(timer);
//					$(box).hide();
//				});
//			}
//			showBox("#reqData > tbody td", "#showDiv");
//		});
		
		//del one monitor
		$('.del_one_task').click(function() {
			var task_id = $(this).parent().parent().attr('req_id');
			$.ajax({
				type: "POST",
				url: "/publicsv/p99/del_line/",
				async: true,
				data: {
					'task_id': task_id
				},
				dataType: 'JSON',
				success: function(obj) {
					if(obj.status) {
						location.reload();
					} else {
						$('#error_xml').text(obj.error);
					}
				},
				error: function() {
	
				}
			});		
		})
		
		//getData
        $('.get_data').dblclick(function () {
            var linelst = $(this).children();
            hostip = $(linelst[3]).text();
            user = $(linelst[4]).text();
            passw = $(linelst[6]).text();
            testlog_path = $(linelst[7]).text();
            baselog_path = $(linelst[8]).text();
            testp = $(linelst[9]).text();
            basep = $(linelst[10]).text();
            test_interval = $(linelst[11]).text();
            base_interval = $(linelst[12]).text();
            test_box = $(linelst[13]).text();
            base_box = $(linelst[14]).text();
            test_ttype = $(linelst[15]).text();
            base_ttype = $(linelst[16]).text();
            $('#analyip').val(hostip);
            $('#analyuser').val(user);
            $('#analypassw').val(passw);
            $('#testlogpath').val(testlog_path);
            $('#baselogpath').val(baselog_path);
            $('#testp99').val(testp);
            $('#basep99').val(basep);
            $('#test_interval').val(test_interval);
            $('#base_interval').val(base_interval);
            $('#test_box').val(test_box);
            $('#base_box').val(base_box);
            $('#test_ttype').val(test_ttype);
            $('#base_ttype').val(base_ttype);
        })
        
			
			
		})
</script>
{% endblock %}
