{% extends 'father.html' %} {% load static %}{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="tile">
			<div class="alert alert-dismissible alert-success" role="alert">任务详情&nbsp;&nbsp;&nbsp;
				<a class="alert-link" href="/publicsv/svcheck/"><<返回列表</a>
			</div>
			<div class="tile-body">
				<div class="form-group row">
					<div class="col-md-12">
						<div id="container" style="width: 100%; height: 600px; margin: 0 auto"></div>
					</div>
				</div>				
			</div>
			<div class="alert alert-dismissible alert-success" role="alert">Summary&nbsp;&nbsp;&nbsp;</div>
			<div class="tile-body">
				<div class="form-group row">
					<div class="col-md-12">
						<table class="table">
		                    <thead>
		                    <tr>
		                        <td style="width: 50%;">Test summary</td>
		                        <td style="width: 50%;">Base summary</td>
		                    </tr>
		                    </thead>
		                    <tbody id="reqBody">
		                    <tr req_id="{{ task_detail.id }}" class="get_data">
		                        <td style="width: 50%;"><pre style="white-space: pre-wrap;word-wrap: break-word;">{{ testres_detail|safe }}</pre></td>
		                        <td style="width: 50%;"><pre style="white-space: pre-wrap;word-wrap: break-word;">{{ baseres_detail|safe }}</pre></td>
		                    </tr>
		                    </tbody>
		                </table>
					</div>
				</div>				
			</div>
			<div class="alert alert-dismissible alert-success" role="alert">LogInfo&nbsp;&nbsp;&nbsp;</div>
			<div class="tile-body">
				<div class="form-group row">
					<div class="col-md-12">
						<table class="table">
							<tr>
								<td>{{loginfo|safe}}</td>
							</tr>				
						</table>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>

{% endblock %} {% block js %}
<script src="{% static "js/highcharts.js" %}"></script>
<script src="{% static "js/exporting.js" %}"></script>
<script language="JavaScript">
$(document).ready(function() {  
   var chart = {
      type: 'spline'      
   }; 
   var title = {
      text: 'P99分析曲线'   
   };
   var subtitle = {
//    text: 'Irregular time data in Highcharts JS'
   };
   var xAxis = {
      type: 'datetime',
      dateTimeLabelFormats: { // don't display the dummy year
         month: '%e. %b',
         year: '%b',
         tickPixelInterval:1000,
      },
      title: {
         text: 'Date Time'
      },
	tickPixelInterval:10000000,
   };
   var yAxis = {
      title: {
         text: 'cost'
      },
      min: 0
   };
   var tooltip = {
      headerFormat: '<b>{series.name}</b><br>',
      pointFormat: '{point.x:%b. %e}: {point.y:.2f}'
   };
   var plotOptions = {
      spline: {
      	lineWidth: 0.5,
        fillOpacity: 0.5,
        marker: 
        {
            enabled: true,
            radius: 3,
            states: 
            {
                hover: {
                    enabled: true,
                    radius: 3,
                    }
            }
         },
      }
   };

   var series= [{
         name: 'Test P{{task_detail.testp}} / {{task_detail.test_interval}}',
            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
         data: [
             {{task_detail.testres_list}}
         ]
      }, {
         name: 'Base P{{task_detail.basep}} / {{task_detail.base_interval}}',
         data: [
             {{task_detail.baseres_list}}
         ]
      }
   ];     
      
   var json = {};
   json.chart = chart;
   json.title = title;
   json.subtitle = subtitle;
   json.tooltip = tooltip;
   json.xAxis = xAxis;
   json.yAxis = yAxis;  
   json.series = series;
   json.plotOptions = plotOptions;
   $('#container').highcharts(json);
  
});
</script>
<script>	
//table hover
	$(function() {
		function showBox(obj, box) {
			var timer = null;
			$(obj).on("mouseover", function(e) {
				clearTimeout(timer);
				var clientX = e.clientX;
				var clientY = e.clientY;
				var y = clientY + 20;
				var txt = $(this).text();
				timer = setTimeout(function() {
					$(box).css("left", clientX).css("top", y);
					if(txt == "") {
						$(box).hide();
					} else {
						$(box).show();
						$(box).html(txt);
					}
				}, 300);
			});
			$(obj).on("mouseout", function() {
				clearTimeout(timer);
				$(box).hide();
			});
		}
		showBox("#reqData > tbody td", "#showDiv");
	});
	
	
</script>
{% endblock %}
